*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto',sans-serif;
}
@keyframes header {
    0%    {
        transform: translateY(-500px);
    }

    100%{
        transform:translateY(0);
    }
}

.container{
    width: 1140px;
    margin: 0 auto;

}
#header{
    padding: 20px 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}
.header-in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;

}
.nav-bar h1{
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 2px;

}
.nav-bar a{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.42px;
    color: #000000;

}
.header-in button{
background: transparent;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.42px;
    color: #000000;

}
#hero{
    background: black;
}
.hero-title h1{
    font-weight: 400;
    font-size: 63px;
    text-align: center;
    letter-spacing: 2.88px;
    color: #FFFFFF;

}
.hero-title p {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.7);
    padding: 40px 0;

}
.hero-title button{
    padding: 15px 40px;
    background: #FF4343;
    border-radius: 8px;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
}
.hero-title span{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    padding-top: 20px ;

}
.hero-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 60px 0;
}
.hero-img{
    position: relative;
    min-height: 90vh;
}
.hero-tell{
    position: absolute;
    top: 0;
    right: 250px;
}
#shat{
    background: black;

}
.shat-yor h1{
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 1.92px;
    color: #FFFFFF;

}
.shat-yor p{
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.5);
    padding: 50px 0;

}
/*sd[sfgd]*/
.shat-img{
    position: relative;
    min-height: 50vh;
}
.shat-tell{
    position: absolute;
    top: 0;
    right: -90px;
}
.shat{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#enrich{
    background: black;

}
.enrich-img{
    position: absolute;
    top: 0;
    right: 1px;
}
.enrich-text{
    position: relative;
    min-height: 80vh;
}
.enrich-wed h1{
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 1.92px;
    color: #FFFFFF;

}
.enrich-wed p{
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.5);
    padding: 50px 0;

}
.enrich span{
    color: white;
}
#element{
    background: black;

}
.enrich{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.element h1{
    font-weight: 400;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 3.2px;
    color: #FFFFFF;

}
.element p{
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.5);
    padding: 50px 0;

}
.element span{
    color: white;
}
.element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;

}
#linc{
    background: black;

}
.linc-img{
    position: relative;
    min-height: 80vh;
}
.linc-you{
    position: absolute;
    top: 0;
    right: 8px;
}

.seling {
    padding-bottom: 200px;
    padding-left: 20px;
}

.seling h1{
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 1.92px;
    color: #FFFFFF;

}
.seling p{
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.5);
    padding: 50px 0;

}
.seling span{
    color: white;
}
.linc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
#turusted{
    background: black;
}
.turusted h1{
    font-weight: 400;
    font-size: 61px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 2.56px;
    color: #FFFFFF;

}
.turusted  {
    flex-direction: column;


}
.turusted p{
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.5);

}
#ClassCamp{
    background: black;
}
#best{
    /*background: black;*/
}

.offer h1{
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #8BFFB0;

}
.offer h2{
    font-weight: 400;
    font-size: 58px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 1.92px;
    color: #FFFFFF;

}
.offer p{
    font-weight: 400;
    font-size: 27px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.5);
}
.offer-div h1{
    font-weight: 400;
    font-size: 63px;
    line-height: 91px;
    text-align: center;
    letter-spacing: 2.1px;
    color: #FFFFFF;

}
.offer-div p{
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.7);
    padding: 80px 0;

}
.offer-div button{
    width: 281px;
    height: 66px;
    left: calc(50% - 281px/2 + 0.5px);
    top: 297px;
    background: #FF4343;

    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    border-radius: 8px;

}
.offer-div{
    position: relative;
    min-height: 50vh;
}
.offer-but{
    position: absolute;
    top: 0;
    right: 100px;
}
.offer-cret img{

}
.offer-now h1{
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;

}
.offer-now p{
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.7);

}
.offer-cret{
    position: relative;
    min-height: 50vh;
}
.offer-tyo{
    position: absolute;
    top: 0;
    right: -100px;
}
.offer-cret{
    position: relative;
    min-height: 500vh;
}
.offer-now{
    position: absolute;
    top: 150px;
    right: 100px;
}
#best{
    background: #121118;
    padding: 60px 0;
}
.best-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.best-title h1{
    font-weight: 400;
    font-size: 61px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 2.56px;
    color: #FFFFFF;

}
.best-title div{
    width: 120px;
    height: 5px;
    background: #FF4343;
    margin: 40px 0;
}
.best-title p{
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.5);

}


.body {
    position: relative;
    height: 100%;
}

.body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
        width: 450px;
        height: 900px;
        padding-top: 50px;
        padding-bottom: 50px;
}
.swiper-title h1{
    font-weight: 400;
    font-size: 58px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    padding: 20px 0;
}
.swiper-title p{
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    position: relative;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    width: 251px;
    height: 452px
}
.swiper-title{

}

.swiper-slide img {
    display: block;
    width: 100%;

}
.swiper-slide h1{
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;

}
.swiper-slide p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}
.swiper-title{
    position: absolute;
    bottom: 50px;
    color: white;
    top: 500px;
    right: 105px;
}
#group{
background:black;
    padding: 60px 0;
}
.group-tit span{
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #8BFFB0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-tit h1{
    font-weight: 400;
    font-size: 58px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 1.92px;
    color: #FFFFFF;

}
.group-tit p{
    font-weight: 400;
    font-size: 27px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.5);

}
.group img{
    padding: 60px 0;
}
#what{
background: black;
}

.what-title{
    height: 433px;
    background: #1D1B24;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.what-title h1{
    font-weight: 400;
    font-size: 63px;
    line-height: 91px;
    text-align: center;
    letter-spacing: 2.1px;
    color: #FFFFFF;

}
.what-title p{
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.42px;
    padding: 40px 0;
    color: rgba(255, 255, 255, 0.7);

}
.what-title button{
    width: 281px;
    height: 66px;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 0.42px;
    background: #FF4343;
    color: white;
}
.swiper-lolo img{
    width: 100%;
    height: 432px;
    background: linear-gradient(180deg, #1D1B24 0%,
    rgba(0, 0, 0, 0) 100%);
}

.swiper-opo h1{
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;

}
.swiper-opo p{
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.7);

}
.swiper-logo{
    position: relative;

}
.swiper-opo{
    position: absolute;
    margin-top: -280px;
    margin-left: 250px;
}
/*.swiper-lolo{*/
/*    position: relative;*/
/*    min-height: 500vh;*/
/*     !*cbfngcm*!*/
/*}*/
/*.swiper-opo{*/
/*    !*position: absolute;*!*/
/*    top: 1000px;*/
/*    right: 220px;*/
/*}*/
#feat {
    background: #0A0A0A;
    min-height: 90vh;
    padding-bottom: 180px;
}

.feat-title h1 {
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 1.92px;
    color: #FFFFFF;
    padding: 170px;
    margin-left: -250px;
}

.feat-blockk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20px;
}

.feat-block{
    width: 380px;
    height: 440px;
    background: #85E9A5;
}
.feat-imges img {
    margin-top: -6px;
    margin-left: -79px;
}

.feat-block span {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    color: #95FEC1;
    margin-left: 30px;
}

.feat-block h1 {
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    margin-left: 30px;
    padding: 23px;
}

.feat-block p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    margin-left: 30px;
}

.feat-block button {
    background: #85E9A5;
    border: none;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    padding-top: 100px;
    margin-left: 199px;

}
.feat-imges img {
    position: relative;
}
.feat-imges h1 {
    position: absolute;
    margin-top: -90px;
    margin-left: -60px;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}
.feat-imges2 img{
    position: relative;

}
.feat-imges2 h1{
    position: absolute;
    margin-top: -90px;
    margin-left: -px;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}
.feat-imges p {
    position: absolute;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    margin-left: -50px;
    margin-top: -50px;

}
.feat-imges2 {

}

.feat-blocks2 {
}
#footer{
    background: black;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feat-imges2 {
    margin-left: 100px;
    margin-top: -6px;
}
.footer h1{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.18px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 40px 0;
}
.footer p{
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.16px;
    color: #FFFFFF;

}
.footer-icon{
    color: white;
}